<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
<!-- navbar -->
<nav class="navbar">
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <a href="/contact">Contact Me</a>
    </div>
</nav>

<div class="background">
    <div class="container">
        <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right">
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                    <div class="screen-header-ellipsis"></div>
                </div>
            </div>
            <div class="screen-body">
                <div class="screen-body-item left">
                    <div class="app-title">
                        <span>CONTACT</span>
                        <span>US</span>
                    </div>
                </div>
                <div class="screen-body-item">
                    <div class="app-form">
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="NAME" id="name" name="name" required>
                        </div>
                        <div class="app-form-group">
                            <input class="app-form-control" placeholder="EMAIL" type="email" id="email" name="email" required>
                        </div>
                        <div class="app-form-group message">
                            <input class="app-form-control" placeholder="MESSAGE" id="message" name="message">
                        </div>
                        <div class="app-form-group buttons">
                            <button class="app-form-button">CANCEL</button>
                            <button class="app-form-button">SEND</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credits">
            inspired by
            <a class="credits-link" href="https://dribbble.com/shots/2666271-Contact" target="_blank">
                <svg class="dribbble" viewBox="0 0 200 200">
                    <g stroke="#ffffff" fill="none">
                        <circle cx="100" cy="100" r="90" stroke-width="20"></circle>
                        <path d="M62.737004,13.7923523 C105.08055,51.0454853 135.018754,126.906957 141.768278,182.963345" stroke-width="20"></path>
                        <path d="M10.3787186,87.7261455 C41.7092324,90.9577894 125.850356,86.5317271 163.474536,38.7920951" stroke-width="20"></path>
                        <path d="M41.3611549,163.928627 C62.9207607,117.659048 137.020642,86.7137169 189.041451,107.858103" stroke-width="20"></path>
                    </g>
                </svg>
                Gururaj
            </a>
        </div>
    </div>
</div>

<footer class="footer">
    <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/osayahnu.imoisili" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.x.com/osayanhu" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/osayanhuimoisili" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/osayanhu" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://wa.me/2348105154556/?text=Hello!" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="mailto:jerryosaimo@gmail.com" target="_blank">
            <ion-icon name="logo-google"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="/courses">Courses</a></li>
        <li class="menu__item"><a class="menu__link" href="/contact">Contact me!</a></li>
    </ul>
    <p>&copy;2021 Osayanhu Imoisili</p>
</footer>

<!-- Ensure the correct inclusion of Ionicons library -->
<script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons.js"></script>
</body>
</html>
