<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

    <!-- navbar -->
    <nav>
    <div class="menu-logo">
        <a href="/">
            <img src="static/images/logo.png" alt="Menu Logo" style="width: 60px; height: 60px;">
        </a>
    </div>
    <div class="menu-icon" id="menuIcon">&#9776;</div>
    <div class="nav-items" id="navItems">
        <ul class="overview">
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
        </ul>
    </div>
    </nav>

<body>
        <div class = 'courses-section'>
            <div  class= 'course'>
                <img src="static/images/INTRO.png"  class= 'course-img' alt="Course 1">
                <h2  class = 'course-heading'>Introduction to Programming</h2>
                <p class = 'course-text'>This course provides an introduction to programming concepts and techniques.
                    It is suitable for beginners who have no prior programming experience.</p>
                <a href="https://paystack.com/buy/introduction-to-programming-otudjs" target="_blank" >
                    <button class = 'pay'>Pay Now</button>
                </a>
            </div>
            <div  class= 'course'>
                <img src="static/images/python.png" class= 'course-img' alt="Course 2">
                <h2 class = 'course-heading'>Python Programming</h2>
                <p class = 'course-text'>Learn Python programming from the ground up.
                    This course covers basic to advanced topics, including data structures, algorithms, and web development.</p>
                <a href="https://paystack.com/buy/python-programming-kymyrv" target="_blank">
                    <button class = 'pay'>Pay Now</button>
                </a>
            </div>
            <div  class= 'course'>
                <img src="static/images/R.png" class= 'course-img' alt="Course 2">
                <h2 class = 'course-heading'>R Programming</h2>
                <p class = 'course-text'>Master R programming for data analysis and statistical computing.
                    This course includes practical exercises and real-world applications.</p>
                <a href="https://paystack.com/buy/r-programming-rhvnwp" target="_blank">
                    <button class = 'pay'>Pay Now</button>
                </a>
            </div>
            <div  class= 'course'>
                <img src="static/images/dtas.png" class= 'course-img' alt="Course 2">
                <h2 class = 'course-heading'>Data Science</h2>
                <p class = 'course-text'>Discover the world of data science with this comprehensive course.
                    Topics include data manipulation, visualisation, machine learning, and more.</p>
                <a href="https://paystack.com/buy/data-science-yysrhc" target="_blank">
                    <button class = 'pay'>Pay Now</button>
                </a>
            </div>
        </div>
</body>
<footer class="footer">
        <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.facebook.com/osayahnu.imoisili" target="_blank">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.x.com/osayanhu" target="_blank">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.linkedin.com/in/osayanhuimoisili" target="_blank">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://www.instagram.com/osayanhu" target="_blank">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="https://wa.me/2348105154556/?text=Hello!" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>
        </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="mailto:jerryosaimo@gmail.com" target="_blank">
            <ion-icon name="logo-google"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="/courses">Courses</a></li>
    </ul>
    <p>&copy;2024 Osayanhu Imoisili</p>
</footer>
    <script src = 'static/menu.js'></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="static/sub.js"></script>
</html>
