<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Osayanhu Imoisili</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Social Icon Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <header class="header-sec">
        <!-- navbar -->
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa fa-bars"></i>
            </label>
            <label class="logo">OSA<span>YANHU</span></label>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Project</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#timeline">Experience</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1>I am Osayanhu Imoisili</h1>
            <h2>Data Scientist, Web Designer, Machine Learning Engineer and Songwriter</h2>
            <p>
                Osayanhu Imoisili is a graduate of Mathematics and Computer Science from Covenant University.
                <br>He has honed his expertise through rigorous coursework on the use of AWS in machine learning along with text mining, data visualisations and social media mining.
                <br>Osayanhu's technical proficiency is further evidenced by his successful completion of various examinations, achieving commendable results in SQL, software engineering, and Python.
                <br>His diverse training and qualifications underscore his ability to navigate complex technical challenges and deliver innovative solutions.
            </p>
            <div class="btn-box">
                <a href="#services">Hire Me</a>
                <a href="mailto:jerryosaimo@gmail.com?subject=Hi,I would love your services.">Let's Talk</a>
            </div>
        </div>
    </section>
            

        <!-- project section -->
        <section class="project-section active" id='projects'>
            <h1 class="project-heading">projects</h1>
            <div class="project-container">
                <div class="project-card">
                    <div class="project-content">
                        <h1 class="project-title">Staff Management Portal</h1>
                        <p class="project-info">
                            A web Application built to handle leave applicataions, STOP card submissions and internal requests.
                        </p>
                        <div class="project-btn-grp">
                            <a href="https://github.com/osayanhu/staff-management-system" target="_blank">github repo</a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-content">
                        <h1 class="project-title">E-filing Web Application</h1>
                        <p class="project-info">
                            Developed an efficient e-filing web application streamlining document management and submission processes, enhancing user experience and administrative efficiency.
                        </p>
                        <div class="project-btn-grp">
                            <a href="https://github.com/osayanhu/e-filing" target="_blank">github repo</a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-content">
                        <h1 class="project-title">p53 model</h1>
                        <p class="project-info">
                            Made a model that predicts the survival rate of a cancer patient based on the interactions between the genes affected by the p53 protein
                        </p>
                        <div class="project-btn-grp">
                            <a href="https://github.com/osayanhu/p53-model" target="_blank">github repo</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- about section -->
        <section class="about-section active" id='about'>
            <div class="about">
                <div class="about-img-container">
                    <img src="static/images/home.png" class="about-img" alt="">
                    <a href="https://drive.google.com/u/0/uc?id=1a3O2BDBLM4Ylh47PaNhnDqwJBGfLePwD&export=download" download="Osayahu Imoisili CV" target="_blank" rel="noopener noreferrer">
                        <button class="download-cv-btn">Download CV</button>
                    </a>
                </div>
                <p class="about-info">
                    Osayanhu Imoisili is a distinguished graduate of Mathematics and Computer Science from Covenant University. With a robust foundation in data science, machine learning and web development, Osayanhu has cultivated a versatile skill set through a combination of formal education and targeted professional training. He has honed his expertise through rigorous coursework on platforms such as Udacity, where he learned the use of AWS in machine learning, and Coursera, where he delved into text mining, data visualisations and social media mining.
                    <br> Osayanhu's technical proficiency is further evidenced by his successful completion of various Hackerrank examinations, achieving commendable results in SQL, software engineering, and Python. His diverse training and qualifications underscore his ability to navigate complex technical challenges and deliver innovative solutions. With a commitment to continuous learning and professional development, Osayanhu remains at the forefront of technological advancements, poised to contribute significantly to any data-driven or software engineering endeavour.
                </p>
            </div>
        </section>

        <!-- skills -->
        <section class="skill-section" id='skills'>
            <h1 class="heading">skills</h1>
            <div class="skills-container">
                <div class="skill-card">
                    <img src="static/images/html.png" class="skill-img" alt="">
                    <div class="skill-level">75%</div>
                    <h1 class="skill-name">HTML</h1>
                    <p class="skill-info">Proficient in crafting clean, semantic HTML for building responsive, user-friendly websites. Skilled in creating structured web content and optimising HTML for SEO. Expertise in integrating HTML with CSS and JavaScript for dynamic web applications.</p>
                </div>

                <div class="skill-card">
                    <img src="static/images/dtas.png" class="skill-img" alt="">
                    <div class="skill-level">90%</div>
                    <h1 class="skill-name">Data Science</h1>
                    <p class="skill-info">Expert in leveraging data science to uncover actionable insights and drive data-driven decision-making. Proficient in statistical analysis, data visualisation, and predictive modelling. Transform complex data into strategic assets.</p>
                </div>

                <div class="skill-card">
                    <img src="static/images/python.png" class="skill-img" alt="">
                    <div class="skill-level">80%</div>
                    <h1 class="skill-name">Python</h1>
                    <p class="skill-info">Skilled in Python programming for developing robust, efficient solutions. Extensive experience in scripting, web development, and data manipulation. Utilise Python libraries such as Tensorflow, Django and Pytorch.</p>
                </div>

                <div class="skill-card">
                    <img src="static/images/ml.png" class="skill-img" alt="">
                    <div class="skill-level">85%</div>
                    <h1 class="skill-name">Machine Learning</h1>
                    <p class="skill-info">Specialised in designing and implementing machine learning models. Proficient in supervised and unsupervised learning techniques. Expertise in using TensorFlow, Scikit-learn, and Keras for advanced predictive analytics and AI solutions.</p>
                </div>

                <div class="skill-card">
                    <img src="static/images/sql.png" class="skill-img" alt="">
                    <div class="skill-level">70%</div>
                    <h1 class="skill-name">SQL</h1>
                    <p class="skill-info">High proficiency in database creation and administration.</p>
                </div>
            </div>
        </section>

        <!-- timeline -->
        <div class="timeline" id="timeline">
            <h1 class="heading">education and experience</h1>>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Sep. 2017 - Aug.2022</h1>
                    <h2 class="card-detail">Covenant University</h2>
                    <p class="card-detail">B.Sc. Industrial Mathematics and Computer Science</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Jun. 2022 - Sep. 2022</h1>
                    <h2 class="card-detail">UnifyAI</h2>
                    <p class="card-detail">Machine Learning Engineer Intern </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Jan. 2023 - Nov.2023</h1>
                    <h2 class="card-detail">Investments and Securities Tribunal</h2>
                    <p class="card-detail">Software Engineer</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Dec. 2023 - Present</h1>
                    <h1 class="card-detail">Odetorasy</h1>
                    <p class="card-detail">Freelance Data Scientist </p>
                </div>
            </div>
        </div>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>{% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <footer class="footer">
            <ul class="social-icon">
                <li class="social-icon__item">
                    <a class="social-icon__link" href="https://www.facebook.com/osayahnu.imoisili" target="_blank">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="https://www.x.com/osayanhu" target="_blank">
                        <ion-icon name="logo-X"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="https://www.linkedin.com/in/osayanhuimoisili" target="_blank">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="https://www.instagram.com/osayanhu" target="_blank">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li class="social-icon__item">
                    <a class="social-icon__link" href="https://wa.me/2348105154556/?text=Hello!" target="_blank">
                        <ion-icon name="logo-whatsapp"></ion-icon>
                    </a>
                </li>
            </ul>
            <p>&copy;2024 Osayanhu Imoisili</p>
        </footer>
        <script src='static/menu.js'></script>
        <script type="module" src="https://unpkg.com/ionicons@7.4.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>